* {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  box-sizing: border-box;
}

:root {
  --primary-white-: #fbfbff;
  --secondary-white-: #f2f3f5;
  --primary-blue-: #0563bb;
  --primary-black-: #45505b;
}

body {
  scroll-behavior: smooth;
}

/* ======= nav start ======= */
header nav.navbar {
  z-index: 9999;
  background-color: var(--secondary-white-);
}

header nav.navbar .navbar-brand {
  color: var(--primary-blue-);
  font-size: 1.4rem;
}

header nav.navbar .navbar-nav .nav-item {
  margin-right: 0.5rem;
}

header nav.navbar .navbar-nav .nav-item .nav-link {
  padding: 0.5rem;
  color: var(--primary-blue-);
}

header nav.navbar .navbar-nav .nav-item .nav-link:hover,
header nav.navbar .navbar-nav .nav-item .nav-link.active {
  color: var(--primary-black-);
}

.navbar .navbar-toggler span {
  color: var(--primary-blue-);
  background-color: transparent;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}
/* Nav End */

/* ======= Landing Section ======= */
.landing {
  min-height: calc(100vh - 59.61px);
  color: var(--primary-black-);
  background-color: var(--primary-white-);
}

.landing .social ul {
  list-style: none;
  width: fit-content;
}

.landing h3 {
  color: var(--primary-blue-);
}

.landing .social ul a {
  color: var(--primary-black-);
}

.landing .profile {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 20%);
}

.landing .profile img {
  transform: scale(1.6);
  position: absolute;
  top: 66px;
  right: 20px;
}

@media (max-width: 576px) {
  .landing .profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 20%);
  }
}
/* Landing End */

/* ======= About Section ======= */
.about {
  color: var(--primary-black-);
  background-color: #f6f6f6;
}

.about h1 {
  width: fit-content;
  color: var(--primary-blue-);
  border-bottom: 2px solid #45505b4d;
}

.about .gmail,
.about p {
  text-transform: none;
}

@media (min-width: 1200px) {
  .about p {
    width: 78%;
  }
}

.about ul {
  list-style: none;
}

.about ul li {
  width: fit-content;
}

@media (max-width: 576px) {
  .about ul li {
    width: 100%;
  }
}
/* About End */
