* {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  box-sizing: border-box;
}

:root {
  --primary-gray-: #f2f3f5;
  --primary-white-: #fbfbff;
  --secondry-white-: #f5f6fa;
  --primary-blue-: #0563bb;
  --primary-black-: #45505b;
}

body {
  scroll-behavior: smooth;
}

/* ======= nav start ======= */
header nav.navbar {
  z-index: 9999;
  background-color: var(--primary-gray-);
}

header nav.navbar .navbar-brand {
  color: var(--primary-blue-);
  font-size: 1.4rem;
}

header nav.navbar .navbar-nav .nav-item {
  margin-right: 0.5rem;
}

header nav.navbar .navbar-nav .nav-item .nav-link {
  padding: 0.5rem;
  color: var(--primary-blue-);
}

header nav.navbar .navbar-nav .nav-item .nav-link:hover,
header nav.navbar .navbar-nav .nav-item .nav-link.active {
  color: #00a8ff;
}

.navbar .navbar-toggler span {
  color: var(--primary-blue-);
  background-color: transparent;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width: 991px) {
  header nav.navbar .navbar-collapse {
    background-color: #dcdde133;
    border-radius: 5px;
  }
}
/* Nav End */

/* ======= Landing Section ======= */
.landing {
  min-height: calc(100vh - 59.61px);
  color: var(--primary-black-);
  background-color: var(--primary-white-);
}

.landing .social ul {
  list-style: none;
  width: fit-content;
}

.landing h3 {
  color: var(--primary-blue-);
}

.landing .social ul a {
  color: var(--primary-black-);
}

.landing .social ul a:hover {
  color: var(--primary-blue-);
}

.landing .profile {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 20%);
}

.landing .profile img {
  transform: scale(1.6);
  position: absolute;
  top: 66px;
  right: 20px;
}

@media (max-width: 576px) {
  .landing .profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 20%);
  }
}
/* Landing End */

/* ======= About Section ======= */
.about {
  color: var(--primary-black-);
  background-color: var(--secondry-white-);
}

.about h1 {
  width: fit-content;
  color: var(--primary-blue-);
  border-bottom: 2px solid #45505b4d;
}

.about .gmail,
.about p {
  text-transform: none;
}

@media (min-width: 1200px) {
  .about p {
    width: 78%;
  }
}

.about ul {
  list-style: none;
}

.about ul li {
  width: fit-content;
}

@media (max-width: 576px) {
  .about ul li {
    width: 100%;
  }
}
/* About End */

/* ======= Skills Section ======= */
.skills {
  color: var(--primary-black-);
  background-color: var(--primary-white-);
}

.skills h1 {
  width: fit-content;
  color: var(--primary-blue-);
  letter-spacing: 0.1rem;
  border-bottom: 2px solid #45505b4d;
}

.skills .item-text {
  margin-top: 1.7rem;
  font-weight: 600;
  position: relative;
}

.skills .item-text span {
  position: absolute;
}

.skills .progress {
  margin-top: 0.7rem;
  border-radius: 10px;
  height: 16px;
  background-color: var(--primary-gray-);
}

.skills .progress-bar {
  background: var(--primary-blue-);
  height: 100%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.skills .progress-bar {
  width: 0%;
  transition: 0.9s;
}

.skills .logo {
  width: 20px;
}

.skills .logo1 {
  width: 17px;
}

.skills a {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid var(--primary-blue-);
  color: var(--primary-blue-);
  font-weight: 600;
  box-shadow: 0px 7px 8px -5px #45505b4d;
}

.skills a:hover {
  background-color: var(--primary-blue-);
  color: var(--primary-white-);
  font-weight: 600;
}
/* Skills End */

/* ======= Projects Section ======= */
.projects {
  color: var(--primary-black-);
  background-color: var(--secondry-white-);
}

.projects h1 {
  width: fit-content;
  color: var(--primary-blue-);
  border-bottom: 2px solid #45505b4d;
}

.projects h4 {
  color: var(--primary-black-);
  font-weight: 600;
}

.projects .imgCard {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 15%), 0 4px 8px 0 rgb(0 0 0 / 15%);
}

.projects .imgCard img {
  cursor: pointer;
  transition: 0.4s;
  width: 100%;
}

.projects .imgCard img:hover {
  transform: scale(1.1);
}
/* Projects End */

/* ======= Contact Section ======= */
.contact {
  color: var(--primary-black-);
  background-color: var(--primary-white-);
}

.contact h1 {
  width: fit-content;
  color: var(--primary-blue-);
  border-bottom: 2px solid #45505b4d;
}

.contact .form-group input,
.contact .form-group textarea {
  background: none;
  border: 1px solid #45505b4d;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  outline: none;
  padding: 10px;
}

.contact .form-group textarea {
  height: 100px;
  resize: none;
}

.contact .form-group input:focus,
.contact .form-group textarea:focus,
.contact .form-group input:valid,
.contact .form-group textarea:valid {
  border-color: var(--primary-blue-);
}

.contact button {
  background-color: transparent;
  border: 1px solid var(--primary-blue-);
  color: var(--primary-blue-);
  font-weight: 600;
  box-shadow: 0px 7px 8px -5px #45505b4d;
}

.contact button:hover {
  background-color: var(--primary-blue-);
  color: var(--primary-white-);
  font-weight: 600;
}

.contact button:focus {
  box-shadow: none;
}

.contact .container {
  width: 100%;
}

.contact .container ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contact .container ul li {
  background: #dcdde133;
  border-radius: 5px;
  margin-bottom: 16px;
  height: 89px;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.contact .container ul li a {
  color: var(--primary-black-);
  font-weight: 500;
  text-decoration: none;
}
.contact .container ul li a span {
  text-transform: none;
}

.contact .container ul li a:hover {
  color: var(--primary-blue-);
}

.thankYou {
  min-height: calc(100vh - 269.61px);
  color: var(--primary-black-);
  background-color: var(--primary-white-);
}

.thankYou h1 {
  color: var(--primary-blue-);
}

.thankYou .thankYouText {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 15%), 0 4px 8px 0 rgb(0 0 0 / 15%);
  max-width: 100%;
  overflow: hidden;
  width: 700px;
}

.thankYou .thankYouText a {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid var(--primary-blue-);
  color: var(--primary-blue-);
  font-weight: 600;
  box-shadow: 0px 7px 8px -5px #45505b4d;
}

.thankYou .thankYouText a:hover {
  background-color: var(--primary-blue-);
  color: var(--primary-white-);
  font-weight: 600;
}
/* Contact End */

/* ======= Footer Section ======= */
footer {
  color: var(--primary-black-);
  background-color: var(--primary-blue-);
}

footer .social ul {
  list-style: none;
  width: fit-content;
}

footer .social ul a {
  color: var(--primary-white-);
}

footer .social ul li {
  border-bottom: 2px solid transparent;
  padding-bottom: 4px;
  transition: all 0.3s;
}

footer .social ul li:hover {
  transform: translateY(-5px);
  border-bottom: 2px solid var(--primary-white-);
}

footer .social ul li a {
  color: var(--primary-white-);
}

footer hr {
  color: white;
}

footer p {
  color: #f5f6faa8;
  margin: 0px;
}
/* Footer End */
